<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Pizza Shop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
            </ul>
            <form style="padding: 10; float : right" class="form-inline my-2 my-lg-0" action="/search" method="GET">
                <input class="form-control mr-sm-2"  name="search" type="search" placeholder="Search" aria-label="Search">
                <i class="fas fa-search"></i><input type = "submit" value= "Search" class="btn btn-inf">
            </form>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>