<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="54228827590-kpuv19j8v9tick2vglbpdsppcfo4fepj.apps.googleusercontent.com ">

</head>
<body>

<div class="container">
    <div class="row" style="margin-top: 15%">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Forget Password?</div>
                <div class="panel-body">
                    <% if(!sent) {%>
                    <form action="/login/forget" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg btn-block">Send </button>

                    </form>
                    <%} else{%>
                        <div class="alert alert-success" role = "alert">
                            Success! We have sent you an email with reset link
                        </div>
                    <%}%>

                    <hr/>
                    <p>go back to <a href="/login"><b>login page</b></a> | or <a href = "/"><b>home</b></a></p>

                </div>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>